/* Variables sobreescritas de bootstrap */
$body-bg-dark: #000000;
$body-bg: #eef2fe;
// $success: #00d270;
$placeholder-opacity-max: 0.2;
$placeholder-opacity-min: 0.1;

$modal-content-border-color: none;
$modal-content-bg: #f5f5f7;
$modal-lg: 900px;
