:root {
    --gradient-color-1: linear-gradient(90deg, #0061ff, #60efff);
    --gradient-color-2: linear-gradient(90deg, #40c9ff, #e81cff);
    --gradient-color-3: linear-gradient(90deg, #82f4b1, #30c67c);
    --gradient-color-4: linear-gradient(90deg, #f89999, #f6c0ba);
    --gradient-color-5: linear-gradient(90deg, #0e0725, #5c03bc);
}

.spheres-1,
.spheres-2 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.spheres-1 span,
.spheres-2 span {
    position: absolute;
    border-radius: 50%;
    filter: blur(40px);
    animation: float 10s infinite ease-in-out, scaleIn 1s;
}

.spheres-1 span:nth-child(1) {
    background: var(--gradient-color-1);
    width: 180px;
    height: 180px;
    top: 10%;
    left: 15%;
    animation-duration: 12s, 1s;
    animation-delay: 0.5s, 0s;
}

.spheres-1 span:nth-child(2) {
    background: var(--gradient-color-2);
    width: 100px;
    height: 100px;
    top: 25%;
    left: 60%;
    animation-duration: 14s, 1s;
    animation-delay: 1s, 0s;
}

.spheres-1 span:nth-child(3) {
    background: var(--gradient-color-3);
    width: 160px;
    height: 160px;
    top: 5%;
    left: 80%;
    animation-duration: 16s, 1s;
    animation-delay: 1.5s, 0s;
}

.spheres-1 span:nth-child(4) {
    background: var(--gradient-color-4);
    width: 190px;
    height: 190px;
    top: 65%;
    left: 20%;
    animation-duration: 18s, 1s;
    animation-delay: 2s, 0s;
}

.spheres-1 span:nth-child(5) {
    background: var(--gradient-color-5);
    width: 120px;
    height: 120px;
    top: 70%;
    left: 70%;
    animation-duration: 20s, 1s;
    animation-delay: 2.5s, 0s;
}

.spheres-2 span:nth-child(1) {
    background: var(--gradient-color-1);
    width: 180px;
    height: 180px;
    top: 10%;
    left: 15%;
    animation-duration: 12s, 1s;
    animation-delay: 0.5s, 0s;
}

.spheres-2 span:nth-child(2) {
    background: var(--gradient-color-2);
    width: 200px;
    height: 200px;
    top: 15%;
    left: 90%;
    animation-duration: 14s, 1s;
    animation-delay: 1s, 0s;
}

.spheres-2 span:nth-child(3) {
    background: var(--gradient-color-3);
    width: 160px;
    height: 160px;
    top: 50%;
    left: 50%;
    animation-duration: 16s, 1s;
    animation-delay: 1.5s, 0s;
}

.spheres-2 span:nth-child(4) {
    background: var(--gradient-color-4);
    width: 190px;
    height: 190px;
    top: 65%;
    left: 20%;
    animation-duration: 17s, 1s;
    animation-delay: 2s, 0s;
}

.spheres-2 span:nth-child(5) {
    background: var(--gradient-color-5);
    width: 190px;
    height: 190px;
    bottom: 5%;
    left: 60%;
    animation-duration: 18s, 1s;
    animation-delay: 2s, 0s;
}

.spheres-2 span:nth-child(6) {
    background: var(--gradient-color-1);
    width: 190px;
    height: 190px;
    bottom: 50%;
    left: 10%;
    animation-duration: 18s, 1s;
    animation-delay: 2s, 0s;
}

.spheres-2 span:nth-child(7) {
    background: var(--gradient-color-2);
    width: 190px;
    height: 190px;
    bottom: 50%;
    left: 90%;
    animation-duration: 18s, 1s;
    animation-delay: 2s, 0s;
}

.spheres-2 span:nth-child(8) {
    background: var(--gradient-color-3);
    width: 190px;
    height: 190px;
    top: 25%;
    left: 50%;
    animation-duration: 18s, 1s;
    animation-delay: 2s, 0s;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-30px) translateX(-30px);
    }
    50% {
        transform: translateY(-60px) translateX(80px);
    }
    75% {
        transform: translateY(5px) translateX(-10px);
    }
}
